<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Produkte</title>
</head>
<body>

<object name="products">
    <table>
        <tr>
            <th>Produkt</th>
            <th>Preis</th>
        </tr>
        for ...
        <tr>
            for ...
            <td># ...</td>
        </tr>
    </table>
</object>
<hr/>
<object name="productDetails"></object>

<a href="Cart2.html">Zum Warenkorb</a>

</body>
</html>
