<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Produkte</title>
</head>
<body>

Products
<object name="products" onAddToCart="Cart2.html">
    <table #id(){} #tableEvent(){}>
        #for (i = 0 ; i < 2 ; i++) {
        <tr>
        	<td>
        		<table onmouseover="this.style.backgroundColor='\#c3c3c3';" onmouseout="this.style.backgroundColor='\#ffffff';" style="width:300px; border:1px dashed black; padding:5px; margin:5px; text-align:center;">
					<tr>
            			<td width="0%" rowspan="2" #cellEvent(i, 0){}><span style="text-align:center;">#cell(i, 0){}</span></td>
                        <td align="left" width="100%">&nbsp;<span #cellEvent(i, 1){} style="font-weight:bold;">#cell(i, 1){}</span></td>
                    </tr>
                    <tr>
            			<td align="right"><span style="font-style:italic;">&euro; #cell(i, 2){}</span>&nbsp;&nbsp;<img #cellEvent(i, 2){} src="../icon/cart_add.png"/></td>
					</tr>
				</table>
			</td>
        </tr>
		}
    </table>
</object>
<hr/>
Details
<object name="productDetails"></object>

<a href="Cart2.html">Zum Warenkorb</a>

</body>
</html>
