<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <servlet>
        <servlet-name>WingSCms</servlet-name>
        <servlet-class>org.wings.session.WingServlet</servlet-class>
        <init-param>
            <param-name>wings.mainclass</param-name>
            <param-value>wingscms.ShopExample</param-value>
        </init-param>

        <!-- NOTE: The entries below are optionally. We included them mainly for documentation purpose -->
        <init-param>
            <param-name>wings.lookandfeel.factory</param-name>
            <param-value>org.wings.plaf.LookAndFeelFactory$Default</param-value>
        </init-param>
        <init-param>
            <param-name>wings.lookandfeel.default</param-name>
            <param-value>org.wings.plaf.css.CSSLookAndFeel</param-value>
        </init-param>
        <init-param>
            <param-name>wings.error.template</param-name>
            <param-value>/templates/ErrorTemplate.thtml</param-value>
    	    <description>The template for the default error catcher</description>
        </init-param>
        <init-param>
            <param-name>wings.io.encoding</param-name>
            <param-value>ISO-8859-1</param-value>
    	    <description>The encoding used to read and write streams</description>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>WingSCms</servlet-name>
        <url-pattern>/WingSCms/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>

</web-app>
