<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- Appender -->

	<appender name="CONSOLE_DEBUG" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="DEBUG" />

		<layout class="org.apache.log4j.PatternLayout">
			<!-- The default pattern: Date Priority [Category] Message\n -->
			<param name="ConversionPattern"
				value="%d{ABSOLUTE} %-5p [%c{1}] %m%n" />
		</layout>
	</appender>
	
	<appender name="CONSOLE_ERROR" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="INFO" />

		<layout class="org.apache.log4j.PatternLayout">
			<!-- The default pattern: Date Priority [Category] Message\n -->
			<param name="ConversionPattern"
				value="%d{ABSOLUTE} %-5p [%c{1}] %m%n" />
		</layout>
	</appender>

	<!-- Logger -->

	<category name="org.wings" additivity="false">
		<priority value="DEBUG" />
		<appender-ref ref="CONSOLE_DEBUG" />
	</category>
	
	<category name="logconfig" additivity="false">
		<priority value="ALL" />
		<appender-ref ref="CONSOLE_DEBUG" />
	</category>
	
	<category name="test" additivity="true">
		<priority value="INFO" />
		<appender-ref ref="CONSOLE_DEBUG" />
	</category>

	<root>
		<level value="error" />
		<appender-ref ref="CONSOLE_ERROR" />
	</root>

</log4j:configuration>
