/* styles for entire widget */
.yui-skin-sam .yui-ac {
    position:relative;
}

/* styles for input field */
.yui-skin-sam .yui-ac-input {
    width:100%;
}

/* styles for results container */
.yui-skin-sam .yui-ac-container {
    top:1.6em;
    width:100%;
    text-align:left!important;
}

/* styles for header/body/footer wrapper within container */
.yui-skin-sam .yui-ac-content {
    position:absolute;
    border:1px solid #BBBBBB;
    background:#fff;
    overflow:hidden;
    z-index:9050;
}

/* styles for container shadow */
.yui-skin-sam .yui-ac-shadow {
    position:absolute;
    margin:.3em;
    width:100%;
    background:#000;
    -moz-opacity: 0.10;
    opacity:.10;
    filter:alpha(opacity=10);z-index:9049;
}

/* styles for container iframe */
.yui-skin-sam .yui-ac-container iframe {
    opacity:0;
    filter: alpha(opacity=0);
    padding-right:.3em;
    padding-bottom:.3em; /* Bug 2026798: extend iframe to shim the shadow */
}

/* styles for results list */
.yui-skin-sam .yui-ac-content ul {
    margin:0;
    padding:0;
    width:100%;
}

/* styles for result item */
.yui-skin-sam .yui-ac-content li {
    margin:0;
    padding:2px 5px;
    cursor:default;
    white-space:nowrap;
    list-style:none;
    zoom:1; /* For IE to trigger mouse events on LI */
    text-align: left;
}

/* styles for prehighlighted result item */
.yui-skin-sam .yui-ac-content li.yui-ac-prehighlight {
    background:#D8E1F1;
}

/* styles for highlighted result item */
.yui-skin-sam .yui-ac-content li.yui-ac-highlight {
    background:#D8E1F1;
}
