.AppointmentCalendar td
{
	height:100%; /* ie fix! */
}

/* Shared */
.AppointmentCalendar .monthview,
.AppointmentCalendar .weekview,
.AppointmentCalendar .dayview
{ 
	width:100%;
	height:99.9%;
	border-collapse:collapse;
}

/* Month View */
.AppointmentCalendar .monthview thead th
{
	background-color:#fff;
	font-style:italic;
	font-weight:bold;
	font-size:larger;
	border:1px solid white;
	text-align:center;
	height:1px;
}

.AppointmentCalendar .monthview tbody td
{
	background-color:#eee;
	border:1px solid white;
	padding:2px;
	vertical-align:top;
	min-height:100px;
	width:14%;
 	height:15%;
	margin-left:1%;
	margin-right:1%;
	cursor:pointer;
	-moz-user-select:none;
}

.AppointmentCalendar .monthview tbody td span.dayofmonth
{
	font-weight:bold;
}

.AppointmentCalendar .monthview tbody td.notthismonth span.dayofmonth
{
	font-style:italic;
	font-weight:normal;
}

.AppointmentCalendar .monthview tbody td:hover,
.AppointmentCalendar .monthview tbody td.today:hover,
.AppointmentCalendar .monthview tbody td.notthismonth:hover
{
	background-color:#fafafa;
}

.AppointmentCalendar .monthview tbody td.today
{
	background-color:#bfbfbf;
}

.AppointmentCalendar .monthview tbody td div.event
{
	border:1px solid black;
	margin-bottom:2px;
	margin-left:1px;
	margin-right:1px;
	width:98%;
	height:18px;
	text-align:center;
	overflow:hidden;
	background-color:white;
	color:black;
	cursor:pointer;
}

.AppointmentCalendar .monthview tbody td div.event:hover
{
	background-color:black;
	color:white;
}
 
.AppointmentCalendar .monthview tbody td.notthismonth
{
	background-color:#e0e0e0;
}

.AppointmentCalendar .monthview tbody td.selected
{
	background-color:#d0dff4;
}

.AppointmentCalendar .monthview tbody td div.selected
{
	border:1px solid black;
	margin-bottom:2px;
	margin-left:1px;
	margin-right:1px;
	width:98%;
/*	height:16px; */
	background-color:#d0dff4;
	color:black;
	text-align:center;
	cursor:pointer;
}

/* Weekview */
.AppointmentCalendar .weekview td
{
	width:14%;
	height:100%;
	vertical-align:top;
	border:1px solid white;
	cursor:pointer;
	-moz-user-select:none;
}

.AppointmentCalendar .weekview td.container
{
	background-color:#eee;
}

.AppointmentCalendar .weekview td.container-today
{
	background-color:#bfbfbf;
}


.AppointmentCalendar .weekview td.container-today:hover,
.AppointmentCalendar .weekview td.container:hover
{
	background-color:white;
}

.AppointmentCalendar .weekview div.weekdaytitle
{
	width:100%;
	font-size:larger;
	font-weight:bold;
	border-bottom:1px solid white;
	text-align:center;
	background-color:#fff;
}

.AppointmentCalendar .weekview div.normalappointment,
.AppointmentCalendar .weekview div.recurringappointment,
.AppointmentCalendar .weekview div.alldayappointment
{
	width:98%;
	text-align:left;
	border:1px solid black;
	margin-bottom:4px;
	margin-left:1%;
	margin-right:1%;

	background-color:white;
	color:black;
}

.AppointmentCalendar .weekview td.selected /* cell */
{
	background-color:#d0dff4;
}

.AppointmentCalendar .weekview div.selected  /* appointment */
{
	width:98%;
	text-align:left;
	border:1px solid black;
	margin-bottom:4px;
	margin-left:1%;
	margin-right:1%;

	background-color:#d0dff4;
	color:black;
}

.AppointmentCalendar .weekview div.time
{
	font-weight:bold;
}

.AppointmentCalendar .weekview div.name,
.AppointmentCalendar .weekview div.date
{
}

.AppointmentCalendar .weekview div.additional
{
	display:none;
}

.AppointmentCalendar .weekview div.recurringweekdays
{
	font-size:smaller;
}

/* Day View */
.AppointmentCalendar .dayview td
{
	width:100%;
	height:100%;
	vertical-align:top;
	border:none; /* 1px solid white; */
	cursor:pointer;
    background-color:#eeeeee;
	-moz-user-select:none;
}

.AppointmentCalendar .dayview td div.daycontainer
{	
	border-collapse:collapse;
}

.AppointmentCalendar .dayview td div.daytitle
{
	background-color:white;
	width:100%;
}

.AppointmentCalendar .dayview td div.dayappcontainer
{
	background-color:#fafafa;
	width:100%;
	height:100%;
	border:1px solid white;
}

.AppointmentCalendar .dayview td div.normalappointment,
.AppointmentCalendar .dayview td div.alldayappointment,
.AppointmentCalendar .dayview td div.recurringappointment
{
	border:1px solid white;
}

.AppointmentCalendar .dayview td div.normalappointment:hover,
.AppointmentCalendar .dayview td div.alldayappointment:hover,
.AppointmentCalendar .dayview td div.recurringappointment:hover
{
	background-color:white;
}

.AppointmentCalendar .dayview td.selected,
.AppointmentCalendar .dayview td div.selected
{
	background-color:#d0dff4;
}
