/*
    Demonstration of an application specific CSS style for wingS applications. (MS IE version)

    $Id$
*/

.SRadioButton input {
    background-color: #eeeeee;
}

input.STextField,
input.XSuggest,
input.SFormattedTextField,
input.SPasswordField,
textarea.STextArea,
select.SComboBox,
select.SList {
    border: 1px solid #dddddd;
    background-color: #f8f8f8;
}

/* ----- STable selection line: orange */
.STable table tbody tr.selected {
    background-color: #f6decc !important;
}

.STabbedPane_Tab_disabled,
.STabbedPane_Tab_unselected {
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    -moz-border-radius: 0;
    font-size: 12px;
    padding: 3px;
    line-height: 20px;
    background-color: #dddddd;
}

.STabbedPane_Tab_selected {
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    -moz-border-radius: 0;
    font-size: 12px;
    padding: 3px;
    margin: 0px;
    line-height: 20px;
    background-color: #eeeeee;
}

.STabbedPane_top,
.STabbedPane_bottom,
.STabbedPane_left,
.STabbedPane_right {
   font-size: 0px;
   line-height: 0;
}
.STabbedPane_left {
   padding-right: 6px;
}

.STabbedPane_pane {
   border: 1px solid #bbbbbb !important;
}
