/*
   $Id: gecko.css 2658 2006-05-06 15:11:24Z neurolabs $
   wings core CSS Style Sheet for all browsers.

   >> This file contains CORE CSS declarations needed for correct operation.  <<
   >> It is applied to all browsers. You can define Browser specifics in the  <<
   >> css files named after the browsers.  <<

   Includes CSS definitions that are required for wings to work correctly.
   - Please use the optional css files for purely optional visual stylings
   - Please avoid generic/global css selectors and use the wings css
     classes in your selection path
*/

/* either use this or cellpadding/cellspacing/border in table element.
   css overwrites all attributes! */

body {
    padding:0px;
    margin:0px;
    background:#ffffff;
    font-family:sans-serif;
    font-style:normal;
    font-size:0.8em;
    height:100%;
} 

form {
    margin: 0px;
}

a {
    text-decoration: inherit;
}

a:link, a:visited, a:active {
    color: #000066;
    text-decoration: none;
}

/* Class for all invisible HTML tables used for layouting purposes. */
table, td, th {
    padding: 0px;
    margin: 0px;
    border: none;
    border-spacing: 0px;
    /*text-align: inherit; breaks layouting of DIVs inside TD */
}

/* If the surrounding container aligns an inner component, then
   this alignments is inherited (at least in MSIE, but this is
   correct). To avoid this inheritance we declare a default
   left-alignment on the table element.
   Otherwise i.e buttons in MemoryUsage would be centered. */
table {
    text-align: left;
}


/* define cross browser style for lists */
li, ul {
    margin: 0px;
    padding: 0px;
}

/* taken over by table */
input, select, textarea {
    margin: 0px;
    padding: 0px;
    border: none;
}

.SAnchor, .SClickable {
    cursor: pointer;
}

TABLE.SButton,
TABLE.SToggleButton,
TABLE.SToggleButton_selected {
    cursor: pointer;
    color: #000066;
}

TABLE.SButton_form_disabled {
    border: 2px outset #ddd;
    background-color: #ddd;
    color: #9c9a9c !important;
    cursor: default;
    text-align: center;
    white-space: normal;
    text-indent: 0px;
    border-collapse: collapse;
}

TABLE.SButton_form,
TABLE.SToggleButton_form,
TABLE.SToggleButton_form_selected {
    border: 2px outset #ddd;
    background-color: #ddd;
    color: #000;
    cursor: default;
    text-align: center;
    white-space: normal;
    text-indent: 0px;
    border-collapse: collapse;   /* Merges TABLE and TD paddings. (PaddingVoodoo and SEmptyBorder) */
}

TABLE.SButton_form td,
TABLE.SButton_form_disabled td,
TABLE.SToggleButton_form td,
TABLE.SToggleButton_form_selected td {
    padding: 2px 6px;
}

TABLE.SButton_form:hover,
TABLE.SToggleButton_form:hover,
TABLE.SToggleButton_form_selected:hover {
    background-color: #eee;
}
TABLE.SButton_form:active,
TABLE.SToggleButton_form:active {
    border: 2px inset #ddd;
}
TABLE.SToggleButton_form_selected {
    border: 2px inset #ddd;
}
TABLE.SToggleButton_form_selected:active {
    border: 2px outset #ddd;
}

TABLE.SCheckBox,
TABLE.SCheckBox_form,
TABLE.SCheckBox_selected,
TABLE.SCheckBox_form_selected {
    cursor: default;
    border-collapse: collapse;
}

TABLE.SRadioButton,
TABLE.SRadioButton_form,
TABLE.SRadioButton_selected,
TABLE.SRadioButton_form_selected {
    cursor: default;
    border-collapse: collapse;
}


IMG {
    /* keeps images inside tabs */
    /* vertical-align: middle;       bsc:
    This breaks IMG height in MSIE! They take always at least a lineheight!
    --> see memory usage http://jira.j-wings.org/browse/WGS-164 */
    /* Avoid those ugly borders around linked imgs's */
    border: none !important;
}

/* STextField default style */
input.STextField,
input.XSuggest,
input.SFormattedTextField,
input.SPasswordField,
.SFileChooser input,
textarea.STextArea,
select.SComboBox,
select.SList {
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    color: #000;
    border: 1px solid #bbbbbb;
}


/* STabbedPane default style */
/* Default text alignments of labels in tabs. */
th.STabbedPane_top {
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
}
th.STabbedPane_left {
    vertical-align: top;
    text-align: right;
}
th.STabbedPane_right {
    vertical-align: top;
    text-align: left;
}
th.STabbedPane_bottom {
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
}

.STabbedPane_Tab_disabled,
.STabbedPane_Tab_selected,
.STabbedPane_Tab_unselected {
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    -moz-border-radius: 0;
    font-size: 12px;
    padding: 3px;
    line-height: 20px;
    background-color: #dddddd;
}

.STabbedPane_Tab_selected {
    background-color: #eeeeee;
}

.STabbedPane_Tab_disabled {
    color : #808080;
}

.STabbedPane_top,
.STabbedPane_bottom,
.STabbedPane_left,
.STabbedPane_right {
   font-size: 0px;
   line-height: 0;
}
.STabbedPane_left {
   padding-right: 6px;
}

.STabbedPane_pane {
    border: 1px solid #bbbbbb !important;
    width: 100%;
}

.STabbedPane_Tab_left,
.STabbedPane_Tab_right {
    display: block;
    white-space: nowrap;
}


A.STabbedPane_Tab_top IMG {
   /* keeps images inside tabs */
    vertical-align: middle;
}

/* STree */

.STree td {
   text-align: center !important;
}

.STree td.slash, .STree td.plus, .STree td.minus {
    padding-bottom: 2px;
}

.STree td.slash {
    background: url('../../icons/lineslash.gif') no-repeat center center;
}
.STree td.plus {
    background: url('../../icons/lineplus.gif') no-repeat center center;
}
.STree td.minus {
    background: url('../../icons/lineminus.gif') no-repeat center center;
}
.STree td.selected {
    background-color: #D8E1F1;
    cursor: pointer;
    text-align: left !important;
}
.STree td.norm {
    cursor: pointer;
    text-align: left !important;
}
.STree img {
    vertical-align: middle;
    display: inline;
}


/* ---------------------------------------------------------------------------------------------------- */

/* ---------- Menus */
.SMenuBar {
    width: 100%;
    background-color: #f0f0f0;
    border-top: none;
    border-bottom: 1px solid #cccccc;
    color: #000044;
}

/* clears the menu */
.SMenuBar div.spacer {
    height: 0px;
    clear: both;
}

.SMenuBar a.SMenu,
.SMenuBar a.SMenu_Disabled {
    float: left;
    padding: 2px 0px;
    white-space: nowrap;
    margin: 0px 10px;
}

.SMenuBar a.SMenu {
    color: #000044;
    cursor: pointer;
}

.SMenuBar a.SMenu_Disabled,
.SMenu li.SMenu_Disabled a,
.SMenu li.SMenu_Disabled a:hover,
.SMenu li.SMenuItem_Disabled a,
.SMenu li.SMenuItem_Disabled a:hover {
    color: #aaaaaa;
    cursor: default;
}

ul.SMenu,
ul.SPopupMenu {
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    z-index: 500;
    top: auto;
    display: none;
    width: auto;
    border: 1px solid #cccccc;
    background-color: #f0f0f0;
}

ul.SMenu a,
ul.SPopupMenu a {
    padding: 2px 5px 2px 5px;
    display: block;
    white-space: nowrap;
    margin: 0px;
}

ul.SMenu a, .SMenu a:visited,
ul.SPopupMenu a, .SPopupMenu a:visited {
    color: #000044;
}

ul.SMenu a:hover,
ul.SPopupMenu a:hover {
    color: #ffffff;
    background-color: #6666bb;
}

ul.SMenu ul,
ul.SPopupMenu ul {
    top: -1px;
    left: 100%;
}

ul.SMenu li,
ul.SPopupMenu li {
    position: relative;
    width: auto;
}

ul.SMenu a span.accelerator {
    font-size: .7em;
    margin-left: 1.5em;
}

/* Styling for Expand */

ul.SMenu a.x, ul.SMenu a.x:visited, ul.SMenu a.x:hover,
ul.SMenu a.y, ul.SMenu a.y:visited, ul.SMenu a.y:hover,
ul.SPopupMenu a.x, ul.SPopupMenu a.x:visited, ul.SPopupMenu a.x:hover,
ul.SPopupMenu a.y, ul.SPopupMenu a.y:visited, ul.SPopupMenu a.y:hover {
    background-image: url('../../icons/MenuArrowRight.gif');
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 10px;
}

ul.SMenu li.SMenu_Disabled a.x, ul.SMenu li.SMenu_Disabled a.x:visited, ul.SMenu li.SMenu_Disabled a.x:hover,
ul.SMenu li.SMenu_Disabled a.y, ul.SMenu li.SMenu_Disabled a.y:visited, ul.SMenu li.SMenu_Disabled a.y:hover {
    background-image: url('../../icons/MenuArrowRight_Disabled.gif') !important;
}

/* SList */
.SList li {
	list-style-type: none;
}

.SList li.selected {
    background-color: #D8E1F1 !important;
}

.SList li.clickable {
    cursor: pointer
}

.SList li.empty  {
    list-style-type: none;
}

/* No vertical distance on writing down many labels. */
.SLabel p {
    margin-top:0px;
    margin-bottom:0px;
}

.SLabel {
    border-collapse: collapse;
}

.SPanel {
    border-collapse: collapse;
}

.STable {
    width: 100%;
    cursor: default;
}

.STable td.cell, .STable th.cell, .STable td.num, .STable th.num, .STable th.head {
    padding: 2px 8px 2px 8px;
    border-bottom: 1px solid #c0c0c0;
}

.STable td.clickable, .STable th.clickable {
    cursor: pointer;
}

.STable td.cell, .STable th.head {
    border-left: 1px solid #c0c0c0;
}

.STable td.num {
    text-align: right;
}

.STable tr.header {
    background-color: #efefef;
}

.STable tr.odd {
    background-color: #efefef;
}

.STable tr.even {
    background-color: #ffffff;
}

.STable tr.selected {
    background-color: #ffbbbb !important;
}

.STable td.empty {
    padding: 2px 8px 3px 8px;
}

.XTable {
    width: 100%;
    cursor: default;
}

.XTable td.cell, .XTable th.cell, .XTable td.num, .XTable th.num, .XTable th.head, .XTable th.filter {
    padding: 2px 8px 2px 8px;
    border-bottom: 1px solid #c0c0c0;
}

.XTable td.clickable, .XTable th.clickable {
    cursor: pointer;
}

.XTable td.cell, .XTable th.head, .XTable th.filter {
    border-left: 1px solid #c0c0c0;
}

.XTable td.num {
    text-align: right;
}

.XTable tr.header {
    background-color: #efefef;
}

.XTable tr.filter {
    background-color: #efefef;
}

.XTable tr.odd {
    background-color: #efefef;
}

.XTable tr.even {
    background-color: #ffffff;
}

.XTable tr.selected {
    background-color: #ffbbbb !important;
}

.XTable tr.empty {
    padding-top: 2px;
    padding-bottom: 2px;
}

.XTreeTable {
    width: 100%;
    cursor: default;
}

.XTreeTable td.cell, .XTreeTable th.cell, .XTreeTable td.num, .XTreeTable th.num, .XTreeTable th.head {
    padding: 2px 8px 2px 8px;
    border-bottom: 1px solid #c0c0c0;
}

.XTreeTable td.clickable, .XTreeTable th.clickable {
    cursor: pointer;
}

.XTreeTable td.cell, .XTreeTable th.head {
    border-left: 1px solid #c0c0c0;
}

.XTreeTable td.num {
    text-align: right;
}

.XTreeTable tr.header {
    background-color: #efefef;
}

.XTreeTable tr.odd {
    background-color: #efefef;
}

.XTreeTable tr.even {
    background-color: #ffffff;
}

.XTreeTable tr.selected {
    background-color: #ffbbbb !important;
}

/* -------untested --------- */


.SAnchor {
    color: #004;
}

/* clears the windows */
.SDesktopPane div.spacer, .SFlowLayout div.spacer {
    height:0px;
    clear: both;
    line-height:0px; /* for konq */
    font-size: 1px; /* for konq */
}


table.SPageScroller table.buttons td {
    border: 1px solid #cccccc;
    background-color: transparent;
    padding: 0px;
    cursor: pointer;
}

table.SPageScroller table.pages td {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
    cursor: pointer;
}

table.SPageScroller table.pages td:hover, table.SPageScroller table.buttons td:hover {
    background-color: #ECECEC;
}

/*table.SPageScroller table.buttons td:hover {
    border: none;
}*/

table.XPageScroller td {
    padding-left: 4px;
    padding-right: 4px;
}

table.XPageScroller table.buttons td {
    cursor: pointer;
    border: none;
}

table.XPageScroller table.pages td {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
    cursor: pointer;
}

table.XPageScroller table.pages td:hover {
    background-color: #ECECEC;
}

.SScrollBar * {
    box-sizing: border-box;
}
/*
  .SScrollBar_vertical * { }
    is defined in gecko.css, msie.css and msie6.css due to problems with SScrollbar in internet explorer 7 in
    themed windows environments
*/

.SScrollBar_vertical .outer {
    overflow-y: scroll;
    overflow-x: hidden;
}
.SScrollBar_horizontal * {
    height: 17px;
}
.SScrollBar_horizontal .outer {
    overflow-x: scroll;
    overflow-y: hidden;
}

/* ----------- SINTERNAL FRAME ----------- */

.SInternalFrame {
    border: 1px solid #cccccc;
    margin: .2em;
}

.SInternalFrame div.WindowBar {
    padding: .1em;
    background-color: #aaf;
    text-align: left;
    cursor: pointer;
}

.SInternalFrame div.WindowBar div.WindowBar_title {
    padding-right:4em;
    white-space:pre;
}

.SInternalFrame div.WindowBar div.WindowBar_title img {
    padding-right:1em;
    vertical-align: middle;
}

.SInternalFrame div.WindowBar a.WindowButton {
    float: right;
}

.SInternalFrame div.WindowContent {
    padding: .2em;
}

table.SProgressBar {
    border-spacing: 0;
    border-collapse: collapse;
}
table.SProgressBar tr.bar td {
    border: 1px solid black;
    padding: 0px;
}
table.SProgressBar tr.text td {
    vertical-align: middle;
    text-align: center;
    padding: 0px;
}

li.SMenuComponent {
    line-height:0px;
    font-size:0px;
}

.SSeparator {
    background-color:#cccccc;
    padding:0px;
    margin:0px;
    line-height:0px;
    font-size:0px;
    -moz-box-sizing: content-box;
}

.SSeparator.horizontal {
    margin:1px 0px;
    border-top:1px solid #f7f7f7;
    border-bottom:1px solid #f7f7f7;
}

.SSeparator.vertical {
    margin:0px 1px;
    border-left:1px solid #f7f7f7;
    border-right:1px solid #f7f7f7;
}

td.DivisionControl {
    padding-right: 6px !important;
}

td.DivisionTitle {
    color: orange;
    font-weight: bold;
    border-bottom: 2px solid orange;
    padding-bottom: 2px;
}

td.DivisionContent {
    padding-top: 6px;
    padding-bottom: 0px;
}

table.DivisionContent {
    width: 100%;
}

.splitter {
    background-color: gray;
}

/* --- SWINDOWPANE --------------------------------------------------------- */

.SWindowsPane {
    border-collapse:collapse;
    width:0;
    height:0;
    display:block;
    position:absolute;
    top:-1000px;
    left:-1000px;
}

/* --- DEBUGCONSOLE -------------------------------------------------------- */

#ajaxDebugView {
	  width: 100%;
	  position: fixed;
	  top: 0px;
	  left: 0px;
	  z-index: 99999;
	  background-color: #ffffff;
	  filter: alpha(opacity=85);
	  -moz-opacity: 0.85;
	  opacity: 0.85;
}

#ajaxDebugView div {
	  width: 100%;
	  padding: 2px 0px;
	  text-align: center;
	  color: #000000;
	  background-color: #cccccc;
	  border-bottom: 1px dashed #000000;
}

#ajaxDebugView a,
#ajaxDebugView a:hover,
#ajaxDebugView a:visited {
	  color: #000000;
}

#ajaxDebugView textarea {
	  width: 100%;
	  height: 200px;
	  overflow: auto;
	  font: 11px monospace;
	  color: #000000;
	  background-color: #ffffff;
	  border-bottom: 1px dashed #000000;
}

/* --- YUI-CONTAINER (DIALOGS AND OPTIONPANES) ----------------------------- */

.yui-skin-sam .mask {
    -moz-opacity:0.1;
    background-color:#000000;
    filter:alpha(opacity=10);
    overflow:hidden;
}

.yui-skin-sam .yui-panel .hd {
    border-bottom-color:#808080 !important;
	font-size:93% !important;
	height:26px !important;
    padding:0 10px !important;
    line-height:25px !important;
}

.SOptionPaneImage img {
    margin-right:10px;
}

.SOptionPaneButtons .SButton_form {
    margin-left:5px;
}

/* --- YUI-CALENDAR (XCALENDAR) -------------------------------------------- */

.yui-skin-sam .XCalendar .bu img {
    cursor:pointer;
}

.yui-skin-sam .XCalendar .container {
    
}

.yui-skin-sam .XCalendar .container .bd {
    padding:0;
}

.yui-skin-sam .XCalendar .container .bd:after {
    content:".";
    display:block;
    clear:left;
    height:0;
    visibility:hidden;
}

.yui-skin-sam .XCalendar .container-close {
    right:10px !important;
}

.yui-skin-sam .XCalendar .calendar {
    border:none;
}

.yui-skin-sam .XCalendar .yui-calendar {
    font-size:7pt !important;
    width: 100%!important;
}

.yui-skin-sam .XCalendar .yui-calendar .calheader {
	height:15px !important;
	padding:0 !important;
}

.yui-skin-sam .XCalendar .yui-calendar .calheader .calnavleftYear,
.yui-skin-sam .XCalendar .yui-calendar .calheader .calnavleft,
.yui-skin-sam .XCalendar .yui-calendar .calheader .calnavclearDate,
.yui-skin-sam .XCalendar .yui-calendar .calheader .calnavright,
.yui-skin-sam .XCalendar .yui-calendar .calheader .calnavrightYear {
	bottom:0 !important;
	cursor:pointer !important;
	height:15px !important;
	position:absolute !important;
	top:0 !important;
	width:25px !important;
	z-index:1 !important;
}

.yui-skin-sam .XCalendar .yui-calendar .calheader .calnavleftYear {
	background:url("../../../../-org/wingx/calendar/cally.gif") no-repeat !important;
	left:-1px !important;
}

.yui-skin-sam .XCalendar .yui-calendar .calheader .calnavleft {
	left:22px !important;
}

.yui-skin-sam .XCalendar .yui-calendar .calheader .calnavclearDate {
	background:url("../../../../-org/wingx/calendar/calcd.gif") no-repeat !important;
	left:53px !important;
}

.yui-skin-sam .XCalendar .yui-calendar .calheader .calnavright {
	right:23px !important
}

.yui-skin-sam .XCalendar .yui-calendar .calheader .calnavrightYear {
	background:url("../../../../-org/wingx/calendar/calry.gif") no-repeat !important;
	right:0px !important;
}

/* --- XSUGGEST -------------------------------------------------- */

.yui-ac-content
{
    margin-top:-1px;
}

/* --- ZOOMABLE IMAGE -------------------------------------------- */

.XZoomableImage {
	cursor:url("../../../../-org/wingx/zoomableimage/zoomable_image_cursor.gif"), pointer;
}

/* ------------------------------------------------------------------------- */