/*
   $Id$
   wings core CSS Style Sheet for gecko Browser (Mozilla, FireFox).

   >> This file contains CORE CSS declarations needed for correct operation.  <<
   >> Porting changes in this file to other browsers is REQUIRED              <<

   Includes CSS definitions that are required for wings to work correctly.
   - Please use gecko-optional.css for purely optional visual stylings
   - Please avoid generic/global css selectors and use the wings css
     classes in your selection path
*/

/* tables inherit certain properties from their parents. These need to be
   defined here. This works with konq, moz, opera. */
/* please comment on these...are they needed? */
tr {
    text-align: inherit;
    vertical-align: inherit;
}

td.STabbedPane_pane {
    height: 100%;
}

/* Apply this class to all invisible (spacer gifs)! Also ensure an alt="" tag!
   Refer to  http://developer.mozilla.org/en/docs/Images,_Tables,_and_Mysterious_Gaps */
img.spacer, img.nopad {
  display: block;
}

/* this stays in here!
   it switches the gecko-compatible browsers into border-box mode */
/* is it still needed? (OL 6.5.2006) */
div, input, select, textarea, table {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/*pre.label {
    font-family: inherit;
    margin: 0px;
    padding: 0px;
}*/

.STree img {
    margin-left: 0px;
}

.SButton,
.SButton_disabled,
.SButton_form,
.SButton_form_disabled,
.SToggleButton,
.SToggleButton_selected,
.SToggleButton_disabled,
.SToggleButton_form,
.SToggleButton_form_selected,
.SToggleButton_form_disabled,
.SCheckBox,
.SCheckBox_selected,
.SCheckBox_disabled,
.SCheckBox_form,
.SCheckBox_form_selected,
.SCheckBox_form_disabled,
.SRadioBox,
.SRadioBox_selected,
.SRadioBox_selected,
.SRadioBox_disabled,
.SRadioBox_form,
.SRadioBox_form_selected,
.SRadioBox_form_disabled,
.STree td.slash,
.STree td.plus,
.STree td.minus,
.STree td.selected,
.STree td.norm,
.clickable
{
  -moz-user-select: none;
}
