/*
   $Id$
   wings Default Style Sheet for IE Browser.

   >> This file contains CORE CSS declarations needed for correct operation.  <<
   >> Porting changes in this file to other browsers is REQUIRED              <<

   CURRENTLY NOT IN A WORKING STATE -- WE DEVEL ON GECKO!

   Includes CSS definitions that are required for wings to work correctly.
   - Please use msie-advanced.css for visual only styling
   - Please avoid generic/global css selectors and use the wings css classes in your selection path
*/

HTML {
    height: 100%;
}

a {
    cursor: pointer;
}

/* please comment on these...are they needed? */
td, th {
    padding: inherit;
    margin: inherit;
}

/* ---------- Menus */

/* Avoid right-align of text for right-aligned menues. */
li.SMenuItem, li.SMenu {
   text-align: left;
}

/* Avoid double line spacing in IE */
ul.SPopupMenu li,
ul.SMenu li
{float:left;height:1%;}
ul.SPopupMenu li a,
ul.SMenu li a
{height:1%;}

/** Quickfix workaround for MSIE7: Revert upper declarations by using child selectors. */
ul.SPopupMenu > li,
ul.SMenu > li
{float:none;height:auto;}
ul.SPopupMenu > li a,
ul.SMenu > li a
{height:auto;}


/* IE renders the bullet on a separate line with this missing */
.SList li table {
    display: inline;
}

TABLE {
    border-collapse: collapse;
}

table.STable {
    table-layout: fixed;
}

TABLE.SButton_form,
TABLE.SButton_form_disabled,
TABLE.SToggleButton_form,
TABLE.SToggleButton_form_selected {
    behavior:url('-org/wings/plaf/css/formbutton.htc')
}

TABLE.formbutton_active {
    border: 2px inset #ddd;
}
TABLE.formbutton_hover {
    background-color: #eeeeee !important;
}

/* Style of the Legend label for STitledBorder */
.STitledBorderLegend {
    position: relative;
    top:-1.7em;
	margin-bottom:-1em;
    margin-left: 1.0em;
    margin-right: 1.0em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    /*background-color: inherit;*/     /* IE doesnt understand inherit */
    border-left:  #333333 2px groove;  /* IE doesnt understand inherit, so need to guess :-( */
    border-right: #333333 2px groove;  /* IE doesnt understand inherit, so need to guess :-( */
    background: #ccc;                  /* IE doesnt understand inherit, so need to guess :-( */
}

/* Style of the surrounding border for a STitledBorder */
.STitledBorder {
    margin-top: 1em;
    padding-top: 1em;
}

.SButton,
.SButton_disabled,
.SButton_form,
.SButton_form_disabled,
.SToggleButton,
.SToggleButton_selected,
.SToggleButton_disabled,
.SToggleButton_form,
.SToggleButton_form_selected,
.SToggleButton_form_disabled,
.SCheckBox,
.SCheckBox_selected,
.SCheckBox_disabled,
.SCheckBox_form,
.SCheckBox_form_selected,
.SCheckBox_form_disabled,
.SRadioBox,
.SRadioBox_selected,
.SRadioBox_selected,
.SRadioBox_disabled,
.SRadioBox_form,
.SRadioBox_form_selected,
.SRadioBox_form_disabled,
.STree td.slash,
.STree td.plus,
.STree td.minus,
.STree td.selected,
.STree td.norm,
.clickable
{
  -moz-user-select: none;
}

.STree td.slash, .STree td.plus, .STree td.minus {
    padding-right: 2px;
    padding-bottom: 0px;
}

/* this is the SScrollbar definition used by msie7 and msie6 - msie6 ignores max and min-width and uses
    the style defined in msie6.css */
.SScrollBar_vertical * {
    max-width:18px;
    min-width:17px;
}

.DivisionControl {
    width: 0%;
}

.DivisionTitle {
    width: 100%;
}

/* --- YUI-CONTAINER (DIALOGS AND OPTIONPANES) ----------------------------- */

.yui-skin-sam .yui-panel .hd {
	height:25px !important;
}

/* --- YUI-CALENDAR -------------------------------------------------------- */

.yui-skin-sam .yui-calcontainer {
	width: 133px !important;
}

.yui-skin-sam .yui-calcontainer .title {
	height:25px !important;
}

.yui-skin-sam .yui-calendar .calheader .calnavleftYear {
	left:0px !important;
}

.yui-skin-sam .yui-calendar .calheader .calnavleft {
	left:23px !important;
}

.yui-skin-sam .yui-calendar .calheader .calnavclearDate {
	left:54px !important;
}

.yui-skin-sam .yui-calendar .calheader .calnavright {
	right:23px !important
}

.yui-skin-sam .yui-calendar .calheader .calnavrightYear {
	right:0px !important;
}

/* ------------------------------------------------------------------------- */